@import "../../styles/custom-media.css";

.root {
  position: relative;

}

.label {
  font-size: var(--font-micro-size);
  line-height: var(--font-micro-line-height);
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin-top: 1em;
}

.label + .title {
  margin-top: 0.2em;
}

.title {
  font-size: var(--font-title3-size);
  line-height: var(--font-title3-line-height);
}

.image {
  display: block;
  width: 100%;
  padding-top: 3rem;
  @media (--media-max-medium) {
    padding-top: 0;
  }
}
.imageNoPadding {
  display: block;
  width: 100%;
  
}
.content {
  position: relative;
  /* margin: 0 1.5rem; */
  max-width: var(--width-medium);

  @nest & figcaption {
    width: 100%;
    box-sizing: border-box;
  }

  @media (--media-min-medium) {
    margin: 0 auto;

    @nest & figcaption {
      position: absolute;
      top: 0;
    }
  }
}

.caption {
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  @media (--media-min-medium) {
    max-width: calc(var(--width-small) - 3rem);
  }
}

.captionBox {
  margin: auto;
  position: relative;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 1rem 1.5rem;
  max-width: calc((var(--width-medium) / 2) - 3rem);
  @media (--media-max-medium) {
    max-width: 100%;
  }
}